FileStorage1.2.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  name="FileStorage"
  targetNamespace="http://example.com/mtom"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/mtom"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd1="http://example.com/mtom/types/"
  xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

  <!-- ─── Types ─────────────────────────────────────────────────────────── -->
  <types>
    <xsd:schema targetNamespace="http://example.com/mtom/types/">

      <xsd:complexType name="UploadRequestType">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string"/>
          <xsd:element name="fileContent" type="xsd:base64Binary"
                       xmime:expectedContentTypes="application/octet-stream"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="UploadResponseType">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DownloadRequestType">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DownloadResponseType">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string"/>
          <xsd:element name="fileContent" type="xsd:base64Binary"
                       xmime:expectedContentTypes="application/octet-stream"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="uploadRequest" type="xsd1:UploadRequestType"/>
      <xsd:element name="uploadResponse" type="xsd1:UploadResponseType"/>
      <xsd:element name="downloadRequest" type="xsd1:DownloadRequestType"/>
      <xsd:element name="downloadResponse" type="xsd1:DownloadResponseType"/>

    </xsd:schema>
  </types>

  <!-- ─── Messages ──────────────────────────────────────────────────────── -->
  <message name="uploadIn">
    <part name="parameters" element="xsd1:uploadRequest"/>
  </message>
  <message name="uploadOut">
    <part name="parameters" element="xsd1:uploadResponse"/>
  </message>
  <message name="downloadIn">
    <part name="parameters" element="xsd1:downloadRequest"/>
  </message>
  <message name="downloadOut">
    <part name="parameters" element="xsd1:downloadResponse"/>
  </message>

  <!-- ─── PortType ──────────────────────────────────────────────────────── -->
  <portType name="FileStoragePortType">
    <operation name="upload">
      <input message="tns:uploadIn"/>
      <output message="tns:uploadOut"/>
    </operation>
    <operation name="download">
      <input message="tns:downloadIn"/>
      <output message="tns:downloadOut"/>
    </operation>
  </portType>

  <!-- ─── Binding SOAP 1.2 ─────────────────────────────────────────────── -->
  <binding name="FileStorageBinding" type="tns:FileStoragePortType">
    <soap12:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="upload">
      <soap12:operation soapAction="http://example.com/mtom/upload"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>

    <operation name="download">
      <soap12:operation soapAction="http://example.com/mtom/download"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- ─── Service ───────────────────────────────────────────────────────── -->
  <service name="FileStorageService">
    <port name="FileStoragePort" binding="tns:FileStorageBinding">
      <soap12:address location="http://localhost:8081/mtom"/>
    </port>
  </service>

</definitions>